.page-login {
    display: flex;
    padding: 20vh 9vw;
}
.form-login {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-login {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left : 180px;
}
.form-login #firstText-login{
    align-self: flex-start;
    padding-left: 8%;
    font-weight: bold;
    font-size: 32px;
}
.state {
    align-self: flex-start;
    padding-left: 8%;
    font-size : 13px;
    margin-top: 0;
}

.login-login {
    align-self: flex-start;
    padding-left: 5%;
}

.form-item-login {
    align-self: flex-start;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    width: 300px;
    height: 60px;
    padding: 2px 5px 1px 5px;
}
.form-item-login:hover {
    border-width: 2px;
    border-color: black;
}
.form-item-login label {
    font-size: 12px;
}
.form-element-login {
    outline: none;
    border: none;
    font-size: 17px;
    width: 100%;
}

.Submit-login {
    margin: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: orangered;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.Submit-login:hover {
    cursor: pointer;
    background-color: rgb(192, 70, 26);
}

.bottom-text-login {
    width: 300px;
    align-self : flex-start;
    padding-left : 5%;
    margin-top: 12%;
    font-size: 12px;
}
.bottom-text-login .loginLink-login {
    position: relative;
    left: 130px;
    text-align : center;
    text-decoration: underline;
}