.app-name {
    text-align: left;
    padding: 3% 9vw 2% 10vw;
    font-size: 30px;
    font-weight: bold;
}
.page {
    display: flex;
    padding: 6% 9vw;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form #firstText{
    align-self: flex-start;
    padding-left: 8%;
    font-weight: bold;
    font-size: 32px;
}

.googleSign {
    padding-top: 5px;
    width: 400px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 0.5 solid rgb(222, 208, 208);
    margin: 10px;
}
.googleSign:hover {
    border: none;
    background-color: rgb(206, 21, 21);
    border-radius: 6px;
    cursor: pointer;
}

.form-item {
    margin: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    width: 400px;
    height: 60px;
    padding: 2px 5px 1px 5px;
}
.form-item:hover {
    border-width: 2px;
    border-color: black;
}
.form-item label {
    font-size: 12px;
}
.form-element {
    outline: none;
    border: none;
    font-size: 17px;
    width: 100%;
}

.Submit {
    margin: 10px;
    width: 400px;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: orangered;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.Submit:hover {
    cursor: pointer;
    background-color: rgb(192, 70, 26);
}

.bottom-first {
    align-self: flex-start;
    padding-left: 8%;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 12px;
}
.bottom-first {
    cursor: pointer;
}
.bottom-second {
    width: 400px;
    margin-bottom: 30px;
    font-size: 12px;
}
.bottom-text {
    font-size: 12px;
}
.loginLink {
    text-decoration: underline;
}