.task-item {
    padding-left : 20px;
    margin-top : 20px;
    width : 80%;
}
.task-item:hover {
    cursor : pointer;
}
.head {
    font-size : 15px;
    color : black;
    display : flex;
}
.heading-name {
    width: 90%;
}
.body {
    font-size : 12px;
    color : grey;
}
.checkBox:hover {
    cursor : pointer;
}
.edit, .dueDate, .showAllOptions {
    color : grey;
    margin: 0 5px;
}
.edit:hover, .dueDate:hover, .showAllOptions:hover {
    color : black;
    font-weight: bold;
}